.inscription
{
	padding-top:10px;
	margin:  auto ;
	
	width: 80%;
	background-color: white;
	
}
/*.connection
{
	float: auto;
	width: 80%;
	background-color: white;

	border-radius: 1px;
	margin: 0 auto;

	
}*/
html,body
{
	width: 100%;
	height: 100%;
	background-color: #c2fdcc;
}
h1
{
	color: #009900;
	text-align: center;
	padding-bottom: 10px;
	text-shadow: 1px 2px 2px #009900;
}

.user_information
{
	color: #304041;
 	margin-left: 10%;
	font-family: serif,sans-serif;
	font-size: medium;
	font-weight: bold;
}
input
{
	/*border-radius: 2px;
	margin-left: 30%;
	width: 50%;
	margin-bottom:1%;*/
	
}

/*for mobile tablette screen*/
@media only screen and (max-width: 600px)
{
	div button
	{
		font-size:8px;
		width: 20%;
		text-align: center;
		padding-right: auto;
		padding-left: auto;
	}

	
	 #rc-imageselect,.g-recaptcha {
        transform:scale(0.77);
        -webkit-transform:scale(0.65);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }


}

button
{
display: inline-block;
color: white;
width: 15%;
margin: 0 auto;
text-align: center;
font-family: sans-serif,serif;
background-color: #009900;
box-shadow: 2px 2px 2px #009900;
}
.button_parent_div
{
	text-align: center;

}
a:link
{
	text-decoration:none;
	color: black;

}
.connection
{
	text-decoration: underline;

}
a:visited
{
	color: green;
}
/*mouse over link */
a:hover
{
color: hotpink;
}
/*selected link*/
a:active
{
	color: blue;
}
.g-recaptcha
{
	margin-top:5%;
	margin-left: 10%;


}